
html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #444;
}

#header {
  width: 100%;
  height: 750px;
  font-weight: 300;
}

#headerblob {
  position: absolute;
  top: 100px;
  width: 100%;
}
#headertext {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}


.myClass{
      background-image:url('../images/city.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  }

  #sectionLast{
    background-color: #35383f;
  }

  .researchBlock{
    background-color: #35383f;
  }
    
  .timelineSpacing{
    padding-top: 5%; 
  }

  .bio{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
    font-size: 10px;
  }

  .bioFont{
    font-weight: 400;
    font-size: 20px;
  }


.imgme {
  border: 3px solid white;
  width:200px;
  height:200px;
  box-shadow: #AAA 0px 0px 4px 0px;
  display: block;
  margin: auto;
}
#htname {
  font-size: 46px;
  font-weight: 400;
  color: #e8eaed;
}
#htdesc {
  font-size: 18px;
  font-weight: 300;
  margin-top: -6px;
  color: #e8eaed;
}
#htem {
  font-size: 14px;
  font-weight: 300;
  color: #e8eaed;
}
@media (max-width: 768px) {
  #headerblob {
    text-align: center;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;

  }

  #headertext {
    margin: 20px 0;
  }
  #htname {
    font-size: 28px;
  }
  #htdesc {
    font-size: 16px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}

.svgico {
  display: inline-block;
}
#timeline {
  font-size: 20px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .timelineitem:nth-child(odd) {
    margin-left: 50%;
    border-left: 5px solid #333;
    text-align: left;
  }
  .timelineitem:nth-child(even) {
    margin-right: 50%;
    margin-left: 5px;
    border-right: 5px solid #333;
    text-align: right;
  }
  .timelineitem {
    width: 50%;
    position: relative;
    padding: 0px 10px 0px 10px;
  }
  .timelineitem:nth-child(odd):before {
   left: -8px;
  }
  .timelineitem:nth-child(even):before {
    right: -8px;
  }
}

.timelineitem:before {
  width: 11px;
  height: 11px;
  background: #333;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .timelineitem {
    border-left: 5px solid #333;
    text-align: left;
    margin-left: 10px;
    padding: 5px;
    position: relative;
  }
  .timelineitem:before {
    left: -8px;
  }
}

.tdate {
  font-size: 16px;
  font-weight: 400;
  /*font-weight: 900;*/
  margin-bottom: -5px;
  color: rgb(132,0,0);
  /*color:#b7a484;*/
}
.ttitle {
  font-size: 18px;
  font-weight: 400;
  /*color:#8d96a8;*/
}
.tdesc {
  font-size: 16px;
  font-weight: 300;
  /*color:#e8eaed;*/
}
@media (max-width: 768px) {
  .tdate {
    font-size: 16px;
  }
  .ttitle {
    font-size: 16px;
  }
  .tdesc {
    font-size: 16px;
  }
}

.imgen{
  border: 3px solid white;
}

.imges{
  border: 100px solid black;
  width: 200px;
  height: 200px;
}

.imgez{
  width: 50px;
  height: 50px;
}

.imges:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.imgen:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.pp {
  text-align: center;
  margin-bottom: 60px;
}
.pp img {
  border: 3px solid #FFF;
  box-shadow: #BBB 0px 0px 5px 0px;
}

.pv {
  text-align: center;
  margin-bottom: 60px;
  padding-left: 10%;
  padding-right: 10%;
}

.imgb {
  max-width: 100%;
  border-radius: 5px;
}
.imgsm {
  max-width: 100%;
  border-radius: 5px;
}
.ppt {
  font-size: 30px;
  font-weight: 300;
  color: #000;
  margin-top: 20px;
}
.ppd {
  font-size: 18px;
  color: #444;
  font-weight: 350;
}

.pp blockquote {
  text-align: right;
}


.pvd {
  padding-top: 20px;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

#moreprojects{
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

.hacky{
  display: none;
}
